// border: 1px solid black;
.navbar{
    display: flex;
    justify-content: space-between;
    background-color: silver;
    padding: 2vw 5vw 2vw 5vw;
}

.navlinks{
    align-content: space-evenly;
    display: flex;
    justify-content: space-evenly;
    span{
        padding-right: 1.5vw;
        padding-left: 1.5vw;
        cursor: pointer;
    }
    span:hover, span:active, span:focus {
        text-decoration: underline;
        font-weight: bolder;
    }
}